<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="4.3.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="17.3.2" targetFramework="net472" />
  <package id="Microsoft.NET.Test.Sdk" version="17.3.2" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit.ConsoleRunner" version="3.15.2" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.3.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.5.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.5.1" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="107.0.5304.6200" targetFramework="net472" />
</packages>